.our-machines-wrapper{
    width:96% !important;
    height:40vh;
    margin-left:auto !important;
    margin-right:auto !important;
}

.machine-pics{
    height:200px;
    width:120px;
}

.machine-option{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.machine-info-title{
    font-weight: 900;
}