.machine-pics{
    height:500px;
    width:290px;
}

.machine-pics-wrapper{
}

#our-machines-main-text{
    margin-left:auto;
    margin-right:auto;
    text-align: start;
    width:80%;
    height:clamp(1rem, calc(2vw + 12rem), 12rem);
}


.our-machines-extra{
    text-align: start;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}   